@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/zOL64pLDlL1D99S8g8PtiKchq-dmiA.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyeAZ9hjQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyfAZ9hjQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuOKfAZ9hjQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfAZ9hjQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fAZ9hjQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYAZ9hjQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYAZ9hjQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuDyYAZ9hjQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuBWYAZ9hjQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05oZ8ReDLR-M.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05ob8RODLR-M.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05oYiRODLR-M.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05oZ8RODLR-M.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05oZORODLR-M.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05oaiQ-DLR-M.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05oabQ-DLR-M.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05ob8Q-DLR-M.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/jizMREVItHgc8qDIbSTKq4XkRiUawTk7f45UM9y05obVQ-DLR-M.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(../fonts/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhLsSkANDM.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(../fonts/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhrsWkANDM.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../fonts/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhcMWkANDM.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhLsWkANDM.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../fonts/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhHMWkANDM.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(../fonts/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduh8MKkANDM.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../fonts/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhycKkANDM.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(../fonts/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhrsKkANDM.ttf) format('truetype');
}
@font-face {
  font-family: 'Libre Franklin';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(../fonts/jizOREVItHgc8qDIbSTKq4XkRg8T88bjFuXOnduhh8KkANDM.ttf) format('truetype');
}
